# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Database
kundali.db

# Windows & Android Build Folders
winapp/bin/
winapp/obj/
publish/
.agents/
android_app/app/build/
android_app/app/.cxx/
android_app/.gradle/
build-output/
ios/
node_modules/

# IDE
.vscode/
.idea/
*.sln
*.csproj
*.user

# Large Data
winapp/sweph.zip
winapp/sweph/
